/*header selector*/
#heading{
    font-size: 500;
    font-weight: bold;
    color: white;

}
/*class selector*/
.wrapper{
    height: 80%;
    border: 1px solid blue;
}

.bodyset{
    background-color: rgb(235, 250, 235);
    margin:0;
}

.banner{
    width: 100%;
    height: 150px;
    margin: auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    background-color: darkgreen;
}

.navbar {
  overflow: hidden;
  background-color: darkgreen;
  position: fixed;
  top: 100px;
  width: 100%;
  color: rgb(235, 250, 235);
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

#page-head {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 9; /* fixed at top */
  width: 100%; height: 80px; 
  padding: 10px; /* dimensions */
  display: flex; 
  align-items: center; /* alignment */
  font-size: 250%;
    font-weight: bold;
    background-color: darkgreen;
    color: rgb(235, 250, 235);
}